# Web/API
fastapi
uvicorn

# Streamlit pour le dashboard
streamlit

# MongoDB
pymongo
dnspython

# Analyse et visualisation
pandas
numpy
matplotlib
seaborn

# Machine Learning
scikit-learn
joblib

# Gestion de l'environnement
python-dotenv

# Optionnel (si tu utilises requests pour l'API)
requests
